<%-include('partials/header.ejs')%>

    <!--product description update page form-->
    <div class="album py-5 bg-body-tertiary">
        <div class="container ">
        
        <div class="col-md-7 col-lg-8">
          <h2 class="pb-2 border-bottom">Update Product Description</h2>
          <form class="needs-validation" id="contact-form"   action="./home">
            <div class="row g-3">

                <div class="col-12">
                    <label for="id" class="form-label">Product Id: </span></label>
                    <input type="number" class="form-control" id="contact" placeholder="Enter Product id here" >
            
                  </div>
                <div class="col-12  ">
                    <label for="" class="form-label ">New Description</label>
                    <input type="text" class=" h-100 d-inline-block form-control" id="message" placeholder="Enter updated description here" >
              
                  </div>
              
              
                 </div>
              
                  <hr class="my-4">
              
                  <button class="w-100 btn btn-warning btn-lg" type="submit" value="Submit" onclick="alert('Submitted Successfully')" >Send</button>
                </form>
              </div>
              </div>
              </div>


<%-include('partials/footer.ejs')%>